.bs-shadow {
    box-shadow: -1px 1px 10px 0px #797979;
}

.bs-height {
    height: calc(100vh - 50px);
}

.responsive {
    justify-content: center;
    gap: 45px;
    font-size: large;
}


.myZoomin {
    animation: zoomanim forwards ease-out 0.8s;
}

@keyframes zoomanim {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.border-anim {
    animation: border-anim infinite alternate ease-in-out 0.7s;
}

@keyframes border-anim {
    0%{
        box-shadow: 0;
    }
    100%{
        box-shadow: 1px 4px 22px 7px #3d4c53;

    }
}
.myImg{
    border-radius: 100%;
}

.fram {
    height: 250px;
    width: 250px;
    min-width: 250px;
}

.photo {
    width: 220px;
    width: 220px;
    height: 220px;
}


.icon-anim {
    display: flex;
    animation: show-hide forwards 5s ease-in-out;
}

@keyframes show-hide {
    0% {
        display: none;
    }

    100% {
        display: flex;
    }
}

.secZoom {
    transform: scale(1);
    animation: seczoom forwards ease 1s;
}

@keyframes seczoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .content {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 550px) {
    .responsive {
        gap: 0;
        justify-content: space-evenly;
        font-size: 15px;
    }

    .fram {
        min-width: 180px;
        height: 180px;
        width: 180px;
    }

    .photo {
        min-width: 150px;
        width: 150px;
        height: 150px;
    }
}
