@tailwind base;
@tailwind components;
@tailwind utilities;

.bs-shadow {
  box-shadow: -1px 1px 10px 0px #797979;
}

.logo-font {
  font-family: "Moo Lah Lah", sans-serif;
}

.header-eff {
  transition: all 0.25s;
}

.header-eff:focus {
  color: #d0c809;
  scale: 1.2;
}

.header-eff:hover {
  scale: 1.2;
}

.bs-height {
  height: calc(100vh - 50px);
}

.responsive {
  justify-content: center;
  gap: 45px;
  font-size: large;
}

@media (max-width: 550px) { 
  .responsive{
    gap: 0;
    justify-content: space-evenly;
    font-size: small;
  }
}