@tailwind base;
@tailwind components;
@tailwind utilities;

.headding-fonts {
  font-family: "Tektur", sans-serif;
}

.bs-shadow {
  box-shadow: -1px 1px 10px 0px #797979;
}

.header-eff {
  transition: all 0.25s;
}

.header-eff:focus {
  color: #d0c809;
  scale: 1.2;
}

.header-eff:hover {
  color: #d0c809;
  scale: 1.2;
}

.bs-height {
  height: calc(100vh - 50px);
}

.responsive {
  justify-content: center;
  gap: 45px;
  font-size: large;
}

.border-anim {
  animation: border-anim infinite alternate ease-in-out 0.75s;
  box-shadow: 0px 0px 0px 0px #3d4c53;
}

@keyframes border-anim {
  0% {
    box-shadow: 0px 0px 0px 0px 3d4c53;
  }

  100% {
    box-shadow: 1px 4px 22px 7px #3d4c53;
  }
}

.fram {
  height: 250px;
  width: 250px;
  min-width: 250px;
}

.photo {
  width: 220px;
  min-width: 220px;
  height: 220px;
}

@media (max-width: 768px) {
  .content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 550px) {
  .responsive {
    gap: 0;
    justify-content: space-evenly;
    font-size: small;
  }

  .fram {
    min-width: 180px;
    height: 180px;
    width: 180px;
  }

  .photo {
    min-width: 150px;
    width: 150px;
    height: 150px;
  }
}